#! /usr/bin/make -f

# Use hardening options
export DEB_BUILD_HARDENING=1

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DH_GOPKG := github.com/danos/vyatta-kdump

GOBUILDDIR := _build


%:
	dh $@ --buildsystem=golang --with=golang,vci,yang,systemd,config-package --builddirectory=$(GOBUILDDIR)

override_dh_auto_build: vet
	dh_auto_build

# We do not vet vendor code
vet:
	if go doc cmd/vet >/dev/null 2>&1; then \
		GO111MODULE=off GOPATH=$(CURDIR)/$(GOBUILDDIR) go vet $(DH_GOPKG); \
	fi

override_dh_systemd_enable:
	dh_systemd_enable --package=vyatta-kdump-config --name=vyatta-kdump-load
	dh_systemd_enable --package=vyatta-kdump-config --name=vyatta-kdump-dump --no-enable

override_dh_systemd_start:
	dh_systemd_start --package=vyatta-kdump-config --name=vyatta-kdump-load --no-start
	dh_systemd_start --package=vyatta-kdump-config --name=vyatta-kdump-dump --no-start
